*{
margin:0px;
padding:0px;
border:border-box;
border:None;
}

body{
//margin:3px;
//background-color:pink;
height:100%;
}

.navbar{
background-color:#0F1111;
color:white;
display:flex;
height:8vh;

display:flex;
justify-content:space-between;
align-items:center;
}

#top-logo{
height:80%;
width:10%;
background-color:#0F1111;
margin:1px;
padding:1px 8px 0px 6px;

background-image:url('amazon_logo.png');
background-size:contain;
background-repeat:no-repeat;
}

#box2{
font-weight:lighter;
font-size:1.2vw;
width:6%;
height:80%;
}
#box2_2{
font-size:1.5vw;
font-weight:bold;
display:flex;
}

#box3{
margin:0;
//padding:10px 4px 10px 3px; 

//font-size:0.6rem;
height:80%;
display:flex;
align-items:center;
justify-content:center;
width:74%;
}

select{
display:inline;
background-color:#E6E6E6;
height:80%;
//width:5%;
border-right:None; 
border-top-left-radius:2px;
border-bottom-left-radius:2px;
text-align:center;
}

input{
height:80%;
width:70%;
border-left:None; 
}


#search_icon{
display:inline;
height:80%;
//width:5%;
background-color:orange;
color:white;

border-left:None; 
border-top-right-radius:2px;
border-bottom-right-radius:2px;

text-align:center;
display:flex;
align-items:center;
padding-left:2%;
padding-right:2%;
}

#box4{
width:11%;
margin:7px 7px 7px 0px;
padding:3px;
font-size:1vw;
}
#box4_2{
font-weight:bold;
}


#box5{
width:11%;
margin:3px;
padding:3px;
font-size:1.2vw;
}
#box5_2{
font-size:1.2vw;
font-weight:bold;
}

#box6{
width:5.5%;
margin:3px;
padding:3px 45px 3px 1px;

font-size:2vw;
display:flex;
align-items:center;
}





.menu{
background-color:rgba(0,0,0,0.78);
color:white;
display:flex;
justify-content:flex-start;
}

.menu a{
color:white;
padding:0.6%;
}


/*  FOOTERS  */

footer{
position:relative;
top:130vh;
width:100%;
}

.section1{
background-color:#333333;
color:white;
display:flex;
justify-content:space-evenly;

width:100%;

//margin:2px;
padding:1%;
}
.section1 div a{
color:white;
display:flex;
flex-direction:column;
padding:1.5%;
}

.section2{
background-color:#131A22;
color:white;
}

.f5{
display:flex;
justify-content:center;
padding:2px;
}

.f6{
display:flex;
justify-content:center;
}


/*main*/
main{
position:absolute;
height:90%;
width:100%;
//background-color:red;
//margin:4%;
}


.recommendations{
display:flex;
//position:absolute;
//background-color:blue;
height:89%;

justify-content:space-around;
//margin:10%;
//padding:10%;
} 

#kitchen{
background-color:teal;
height:60%;
width:20.2%;
background-image:url('kitchen.avif');
background-size:cover;
background-repeat:no-repeat;
border-radius:12px ;

font-size:2.5vw;
font-weight:900;

margin:0.5%;
padding:0.5%;
}


#beauty{
background-color:teal;
height:60%;
width:20.2%;
background-image:url('beauty.avif');
background-size:cover;
background-repeat:no-repeat;
border-radius:12px ;

font-size:2.5vw;
font-weight:900;

margin:0.5%;
padding:0.5%;
}

#cloth{
background-color:teal;
height:60%;
width:20.2%;
background-image:url('cloth.avif');
background-size:cover;
background-repeat:no-repeat;
border-radius:12px ;

font-size:2.5vw;
font-weight:900;

margin:0.5%;
padding:0.5%;
}

#toys{
background-color:teal;
height:60%;
width:20.2%;
background-image:url('toys.avif');
background-size:cover;
background-repeat:no-repeat;
border-radius:12px ;

font-size:2.5vw;
font-weight:900;

margin:0.5%;
padding:0.5%;
}

#electronics{
background-color:teal;
height:60%;
width:20.2%;
background-image:url('electronics.avif');
background-size:cover;
background-repeat:no-repeat;
border-radius:12px ;

font-size:2.5vw;
font-weight:900;

margin:0.5%;
padding:0.5%;
}

p{
text-align:center;
}


.signin #p1{
font-size:2rem;
font-weight:500;
}

.signin button{
padding:10px 100px 10px 100px;
background-color:yellow;
color:black;
border-radius:20px;
}
